# TODO:
# ? rename this file to config.py
# ? change TELEGRAM_TOKEN and  ADMIN_CHAT_ID to valid data

# telegram api token (Get it from the telegram @botfather)
TELEGRAM_TOKEN = '1468299547:AAHsvEH-5VyIfWYMzZcYxF_e00000000000'

# telegram account number ID (get it from @userinfobot)
ADMIN_CHAT_ID = '12345678910'