autopep8==1.5.7
beautifulsoup4==4.9.3
bleach==3.3.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
evdev==1.4.0
idna==3.2
importlib-metadata==4.6.1
jeepney==0.7.0
keyring==23.0.1
packaging==21.0
Pillow==8.3.1
pkginfo==1.7.1
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.9.0
pynput==1.7.3
pyparsing==2.4.7
python-xlib==0.31
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
tqdm==4.61.2
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
